{% extends "layout.html" %}

{% block title %}
    Contacts
{% endblock %}

{% block main %}
	<form action="/contact" method="post">
        <div class="form-group">
            <input class="form-control" style= "width: 20%" name="name" placeholder="Your name" type="text" required>
        </div>
        <div class="form-group">
            <input class="form-control" style= "width: 20%" name="email" placeholder="Your email" type="email" required>
        </div>
        <div class="form-group">
		    <textarea class="form-control" style= "width: 40%" name="message" id="message_test" placeholder="Your message" rows="3" type="text" required></textarea>
	    </div>

		<button class="btn btn-primary" type="submit">Submit now</button>
	</form>
{% endblock %}
